.container {
  background-color: #111111;
  padding: 20px;
  padding-top: 50px;
  color: white;
  font-family: Arial, sans-serif;
  height: 100vh;
}

.main-notification {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: center;
}

.main-notification-info {
  display: flex;
  flex-direction: column;
}

.main-notification-time {
  font-size: 48px;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
  text-align: center;
}

.main-notification-text {
  font-size: 16px;
  color: #ffffff;
  text-align: center;
}

.notification-list {
  margin-top: 10px;
}

.notification-item {
  display: flex;
  align-items: center;
  background-color: #333333;
  padding: 15px;
  border-radius: 10px;
  margin: 5px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.notification-title {
  font-size: 16px;
  color: #fff;
  margin-left: 15px;
  flex: 1;
}

.notification-time {
  font-size: 16px;
  color: #fff;
}
